@font-face{
    font-family: 'NanumSquareR';
    src: url('../assets/NanumSquareR.ttf') format('opentype');
}
@font-face{
    font-family: 'LEIXO';
    src: url('../assets/LEIXO.ttf') format('opentype');
}