/* 기본 세팅 */
*{
    font-family: 'NanumSquareR';

    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-size: 1em;
    letter-spacing: 1px;
}
ul,li{
    list-style: none;
}
:root{
    --color__main: #36AFFF;
    --color__sub: #2EB6D4;
}
body{
}
#layout{
    height: auto;
    overflow: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
}
::-webkit-scrollbar-thumb {
    background: var(--color__main);
}

.title--normal{
    color: #36afff;
    font-size: 2.4em;
    line-height: 2em;
}
.title--small{
    color: #36afff;
    font-size: 2em;
    line-height: 2em;
}
.content--normal{
    font-size: 1.5em;
    line-height: 2em;
}


/* 아이왑 로고 */
.iwop *{
    transition: 0.5s;

    font-family: 'LEIXO';

    color: white;

    font-size: 2.5em;
}
.iwop__i{
    transition-delay: 0
}
.iwop__w{
    transition-delay: 0.1s
}
.iwop__o{
    transition-delay: 0.2s
}
.iwop__p{
    transition-delay: 0.3s
}
.iwop__main *{
    font-size: 10em;
}

.iwop--active * {
    opacity: 1;
    transform: translateY(0px);
}
.iwop--disable * {
    opacity: 0;
    transform: translateY(-100px);
}
.iwop{
    display: flex;
}
@keyframes waveText{
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(-10px);}
    100%{ transform: translateY(0px);}
}

/* 탑 바 */

.topBar{
    /* position: fixed; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: var(--color__main);

    z-index: 100;
}
.topBar--attach{
    position: fixed;
    top: 0;
}
.topBar__left{
    transition: 0.5s;
    margin-left: 5%;
}
.topBar__right{
    transition: 0.5s;
    margin-right: 5%;
}

.quickMenu{
    display: flex;
}
.quickMenu__item{
}
.quickMenu__item__content{
    cursor: pointer;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 10px;

    font-size: 1.2em;
    color: white;

    transition: 0.5s;
}
.quickMenu__item__content:hover{
    color: #FFFFFFAA
}
.quickMenu__item__content::before{
    content: "";
    margin-bottom: 6px;
}
.quickMenu__item__content::after{
    content: "";
    opacity: 0.4;
    width: 0%;
    height: 1px;
    margin-top: 5px;
    background-color: white;
    transition: 0.5s;
}
.quickMenu__item:hover .quickMenu__item__content::after,.quickMenu__item.quickMenu__item--active .quickMenu__item__content::after{
    width: 60%;
}

/* 소개 */

.iwop__history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 500px;
}

/* 시작 페이지 */

.iwop__startPage{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: var(--color__main);
}
.iwop__startPage__spelling{
    color: white;
    font-size: 1.5em;
}
.iwop__startPage__club{
    margin-top: 60px;
    color: white;
    font-size: 1.8em;
}
.iwop__startPage__scroll{
    position: absolute;
    bottom: 2%;
    
    display: flex;
    flex-direction: column;
}
.iwop__startPage__scroll__item{
    opacity: 0.2;
    color: white;
    font-size: 4em;
    line-height: 20px;
    transition: 0.5s;
}
.iwop__startPage__scroll__item.iwop__startPage__scroll__item--disable{
    opacity: 0;
}
.iwop__startPage__scroll__item.iwop__startPage__scroll__item--active:nth-child(1){
    animation: mainScrollIcon 1s infinite;
}
.iwop__startPage__scroll__item.iwop__startPage__scroll__item--active:nth-child(2){
    animation: mainScrollIcon 1s infinite;
    animation-delay: 0.2s;
}
.iwop__startPage__scroll__item.iwop__startPage__scroll__item--active:nth-child(3){
    animation: mainScrollIcon 1s infinite;
    animation-delay: 0.4s;
}

@keyframes mainScrollIcon{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* 커리큘럼 */
.iwop__curriculum{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.iwop__curriculum__item{
    display: flex;
    align-items: center;

    width: 80%;
    height: 400px;


}
.iwop__curriculum__item .timeline{
    flex: 1;
    display: flex;
    justify-content: center;
}
.iwop__curriculum__item .timeline__circleLine{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: var(--color__main);
    border-radius: 60px;

    z-index: 20;
}
.iwop__curriculum__item .timeline__circleLine::before{
    content: "";
    height: 400px;
    width: 4px;

    background-color: var(--color__main);

    z-index: -10;
}
.iwop__curriculum__item .content{
    flex: 4;
    height: 300px;

    padding: 20px;

}